body {
  background-color: white;
  font-family: Lato, Helvetica, sans-serif;
  padding: 5px 25px;
  font-size: 20px;
  margin: 0 auto;
  color:  #0A1556;
}
.grid-header {
  display: grid;
  grid-template-columns: 100px auto;
}
.logo-box{
  grid-column: 1/2;
}
.title-header {
  grid-column: 2/3;
}