@media only screen and (min-width: 32.5em) {
  .title-header {
    font-size:15px;
    font-family: 'Roboto Mono', monospace;
    color:#1a265c;
  }
  .logo-box{
    padding:0.5em;
    height: 100%;
  }
  .grid-header {
    background-color:#04273b;
    border-radius:1px 1px 1px 1px;
  }
  body {
    font-size: 15px;
  }
}
