body {
  background-color: white;
  font-family: Lato, Helvetica, sans-serif;
  padding: 5px 25px;
  font-size: 15px;
  margin: 0 auto;
  max-width: 600px;
}
.grid-header {
  display: grid;
  grid-template-columns:1fr 3fr;
  background-color:hsl(202, 84%, 25%);
  color:#ffffff;
  border-radius:1px 1px 1px 1px;
  overflow: hidden;
}
.logo-box{
  grid-column: 1/2;
  grid-row: 1/4;
  padding:1em;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.title-header {
  grid-column: 2/3;
  align-self:center;
  text-align:center;
  font-size:13px;
  grid-row: 2/3;
  font-family: 'Roboto Mono', monospace;
}
footer {
  background-color:#0a4f77;
  color:#ffffff;
  max-width: 100%;
  border-radius:1px 1px 1px 1px;
  text-align: center;
  padding: 0.5em;
  padding-top: 1em;
  font-size:12px;
}
ul {
  text-indent: 10px;
}
span {
  font-weight: 700;
}
#currentdate {
  color:rgb(245, 218, 101)
}
.paragraph{
  padding: 0.2em;
  font-size:13px;
  
}
.f-paragraph{
  color:rgb(245, 218, 101)
}