body {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}
header, footer {
  background-color: #0a4f77;
  color:#ffffff;
  padding: 1rem;
  text-align: center;
}

header h1, header h2 {
  margin: 0%;
}

main {
  padding: 1rem 2%;
  display: block;
  display: grid; 
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
}
main div img {
  width: 100%;
}

div {
  background-color: rgb(206, 208, 216);
  margin: 2%;
  border-radius: 10px 12px 5px 5px;
  
}
div h3 {
  background-color: #0a4f77;
  padding: 1.5%;
  margin: -0.2%;
  border-radius: 10px 12px 0 0;
}
a {
  padding: 2%;
  
}
div p {
  padding: 2%
}
div h3, div a {
  padding: 2%;
}