/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

    
/*----------- BODY --------------*/
.discover-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}



/*----------- HEADER --------------*/
date {
    padding-left: 20rem;
    padding-right: 20rem;
}


/*----------- NAVIGATION --------------*/
nav button {display: none; }
nav ul{display: block;}

nav ul#primaryNav{
    display: flex;
}

nav ul li a{
    padding: 0.8rem 2vw;
}


/*----------- MAIN --------------*/
div#banner{
    font-size: x-large;
}
.f-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}
.hero{
    grid-column: 2/4;
    grid-row: 1/3;
}
.news{
    grid-column: 2/4;
    grid-row: 3/4;
    background: linear-gradient(270deg, rgb(137, 207, 235) 0%, rgb(49, 87, 153) 100%);

}
#sp1{
    grid-column: 4/5;
    grid-row: 2/3;
}
#sp2{
    grid-column: 4/5;
    grid-row: 1/2;
    background: linear-gradient(180deg, rgb(137, 207, 235) 0%, rgb(49, 87, 153) 100%);

}
#sp3 {
    display: block;
    background: linear-gradient(120deg, rgb(137, 207, 235) 0%, rgb(49, 87, 153) 100%);
    text-align: center;
}
.join{
    grid-column: 1/2;
    grid-row: 1/2;
    background: linear-gradient(120deg, rgb(137, 207, 235) 0%, rgb(49, 87, 153) 100%);

}
.event {
    grid-column: 1/2;
    grid-row: 2/3;
}
.weather{
    grid-column: 1/2;
    grid-row: 3/4;
}
.c-w-text{
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
  } 

/*----------- DIRECTORY --------------*/
.directory-font {
    font-size: 0.77em;
}

.shops section {
    max-width: 100%;
    margin:auto;
    
}

/*----------- GRID MODE --------------*/
.grid {
    max-width: 64rem;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
  }


/*----------- LIST MODE --------------*/
.list {
max-width: 64rem;
margin: auto;
}


/*----------- FOOTER --------------*/

footer {
    display: block;
    margin-top: 0.5rem;
}




} /* end of media query */