/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header img{ width: auto;}
header h1{font-size: 2rem;}
header h2{font-size: 1.5rem;}

date {
    text-align: center;
}
/*----------- NAVIGATION --------------*/
nav ul#primaryNav {
    margin-left: 2%;
    border-left: 1px solid rgba(0,0,0,0.3);
    
}

nav ul li a{
    padding: .5rem 1rem;
    border: none;
    border-right: 1px solid rgba(0,0,0,0.3);
    
}

/*----------- MAIN --------------*/
div#banner{
    font-size: larger;
}
.f-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin-top: 0.5rem;
}
.hero{
    grid-column: 1/3;
    grid-row: 1/2;
}
.news{
    grid-column: 1/3;
    grid-row: 2/3;
    background: linear-gradient(180deg, rgb(137, 207, 235) 0%, rgb(49, 87, 153) 100%);

}
#sp1{
    grid-column: 1/2;
    grid-row: 3/4;
}
#sp2{
    grid-column: 2/3;
    grid-row: 3/4;
    background: linear-gradient(360deg, rgb(137, 207, 235) 0%, rgb(49, 87, 153) 100%);

}
.join{
    grid-column: 1/3;
    grid-row: 4/5;
}
.event {
    grid-column: 1/2;
    grid-row: 5/6;
}
.weather{
    grid-column: 2/3;
    grid-row: 5/6;
}
.hero{
    padding: 1em;
}
.hero-content {
    width: 70%;
    margin: 2rem 15% auto 15%;
}

.discover-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

/*----------- DIRECTORY --------------*/
.directory-font {
    font-size: 0.60em;
}

/*----------- GRID MODE --------------*/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }

.grid section {
margin: 0.5%;
display: block;
}
.grid section:nth-child(1) {
grid-column: 1 / 2;

}
.grid section:nth-child(2) {
grid-column: 2 / 3;
grid-row: 1 / 2;
}
.grid section:nth-child(3) {
grid-row: 2 / 3; 
}
.grid section:nth-child(4) {
grid-row: 2 / 3;
grid-column: 2 / 3;
}
/*----------- LIST MODE --------------*/
.list section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    column-gap: 1.5em;
    align-items: center;
    justify-content: center;
    align-self: center;

}
/*----------- CONTACT US --------------*/


.contact-info {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 1rem;
  }

  .gmap picture img{
      max-width: 400px;
  }
  .point-contact{
      margin-top: 3rem;
  }
  .contact_form .submitBtn {
    max-width: 25rem;
  }

/*----------- FOOTER --------------*/
footer img{
    float: left;
}
.f-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    max-width: 100%;
}
.adress{
    text-align: left;
    padding-left: 0.5em;
}
.contact{
    text-align: right;
}

} /* end of media query */