/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header img{ width: auto;}
header h1{font-size: 2rem;}
header h2{font-size: 1.5rem;}

/*----------- NAVIGATION --------------*/
nav ul#primaryNav {
    margin-left: 2%;
    border-left: 1px solid rgba(0,0,0,0.3);
    justify-content: center;
}
nav ul li {float: left;
}

nav ul li a{
    padding: .5rem 1rem;
    border: none;
    border-right: 1px solid rgba(0,0,0,0.3);
    
}

/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
} /* end of media query */