/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color:#0a4f77;
    color:#ffffff;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 100%;
}
header img {width: 50px; float: left;}
.h-box{
  align-self: center;
  display: flex;
  flex-direction: row;
}
.headings{
  display: flex;
  flex-direction: column;
}

header h1 {margin: 0 0 0 17px; font-size: 1.3rem; }
header h2 {margin: 0 0 0 17px; font-weight: normal; font-size: 1rem;}

#date {
  display: block;
  max-width: 100%;
	margin: 0.5rem;
	border: 1px solid #bbb;
  color: #000;
	padding: 0.75rem;
  padding-left: 6rem;
  padding-right: 6rem;
	background-color: #bddff6;
}
#lastvisit {
  align-items: center;
  text-align: center;
  margin: 0.3rem;
}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #1a1a1a;
    
    
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav button {
  margin: .2rem 2vw;
  background-color: transparent;
  border: none;
  color: #cccccc;
  font-size: 2rem;
}

nav ul li a {
    display: block;
    color: #ffffff;
    padding: .5rem 2vw;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.5);
}



nav ul li.active a {
    background-color: #000;
    color: #64a9d6;
    font-style: italic;
    
}
nav ul li a:hover {
  background-color: #64a9d6;
  color: #333;
}
nav ul{display: none;}
nav ul.open {display: block;}

#hamburguerButton span:nth-child(1){
  display: block;
}
#hamburguerButton span:nth-child(2){
  display: none;
}
#hamburguerButton.open span:nth-child(1){
  display: none;
}
#hamburguerButton.open span:nth-child(2){
  display: block;
}
/*----------- MAIN --------------*/
picture img {
  display: block;
  width: 100%;
}

div#banner {
  background-color: #49b4fb;
  color: #000000;
  border:3px solid rgb(65, 65, 65);
  text-align: center;
  padding: 1em;
  max-width: 64rem;
  margin:auto;
  font-size: large;
}
div.showme{display: block;}
div.hideme{display: none;}
main {
    padding: 0 2%;
    min-height: 10rem;
    
}
.first-header, h2 ,h3{
    font-family: 'Roboto Mono', monospace;
}

.f-container div {
  
  border: 1px solid rgb(67, 68, 68);
  padding: 1em;
  
}
.hero {
  background-image: url('../images/rosario.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
}
.hero-content {
  background-color: rgba(255, 255, 255, 0.70);
  padding: 1.5rem;
  text-align: center;
  width: 80%;
  margin: 2rem 10% auto 10%;
}

.hero-content p {
  font-size: 1.1rem;
}
.btn, .event p button{
  background-color: #0a4f77da;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 4px 4px 4px 4px;
}
.discover-grid p{
  text-align: center;
  margin: 0.4em 0 1em;
}
.discover-p {
  text-align: justify;
}
picture img:hover {box-shadow: 0 0 50px #333; cursor: pointer;}

.event {
  text-align: center;
  font-size: 1.1rem;
  background-image: url('../images/dance.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.event p {
  background-color: rgba(255, 255, 255, 0.70);
  padding: 1rem;
}
.event p button{
  margin-top: 1rem;
}

#sp1{
  text-align: center;
  background: linear-gradient(360deg, rgb(137, 207, 235) 0%, rgb(49, 87, 153) 100%);

}
#sp2 {
  text-align: center;
  background: linear-gradient(180deg, rgb(137, 207, 235) 0%, rgb(49, 87, 153) 100%);
}
#sp3 {
  display: none;
}

.join, .news{
  background: linear-gradient(180deg, rgb(137, 207, 235) 0%, rgb(49, 87, 153) 100%);
}
.news{
  background: linear-gradient(360deg, rgb(137, 207, 235) 0%, rgb(49, 87, 153) 100%);

}

#sp1 p, #sp2 p, #sp3 p {
  display: block;
}
/*----------- Weather ----------------*/

.weather p {
  margin: 0;
}
.weather {
  background: linear-gradient(90deg, rgb(137, 207, 235) 0%, rgb(49, 87, 153) 100%);
}

.current-weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 0;
  
}

.c-w-text{
  padding: 0;
  margin: 0;
  font-size: 2.2rem;
} 

.weather img {
  width: 70px;
  padding: 0;
  margin: 0 -3px 0 0;
  background-color: white;
  border-radius: 100px;
}

#weather-desc {
  color: rgba(0, 0, 0, 0.4);
  margin: -8px 0 16px;
  font-size: .8rem;
}

.weather a {
  color: rgba(0, 0, 0, 0.2);
  font-size: .6rem;
}

/*----------- Form ----------------*/
.join-h {
  text-indent: 6rem;
}

form fieldset{
  border: none;
}

form label.top {
  display: block;
  padding-top: 1.5rem;
  margin-bottom: 0.2rem;
  
}

form label.top input, form textarea {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px;
  border-radius: 8px;
  padding: .75rem 40px;
  color: #0a4f77;
  width: 100%;
  max-width: 25rem;
  background-color: rgba(48, 155, 226, 0.13);
}
form textarea{
  margin-bottom: 1rem;
}

form label.sbs {
  display: block;
  padding: 0.5rem;
}
form label.top input:required, form textarea{
  border: red solid 1.5px;
}
.options-member{
  border: red solid 1.5px;
  margin-top: 1.5rem;
  width: 100%;
  max-width: 25rem;
  border-radius: 8px;  
  padding: 0.5rem;
}

form label.top input:required:valid, form label.top textarea:required:valid{
  border: green solid 1.5px;
  border-left: green solid 8px;
}

form input.submitBtn{
  border: none;
  background-color: #0a4f77;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 4%;
  width: 96%;
  max-width: 20rem;
}

/*----------- Thank You --------------*/

.thanks {
  display: flex;
  flex-direction: column; 
  text-align: center;
  align-items: center;
}
.thanks .thanks-item {
  text-align: center;
  font-size: 50px;

}
.thanks h1{
  font-size: xx-large;
}
.thanks p {
  font-size: larger;
}
.thanks a {
  color: white;
  background-color: #0a4f77;
  padding: 12px 30px;
  text-transform: uppercase;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 2rem;
}


/*----------- DIRECTORY --------------*/
.directory-font h1{
  text-align: center;
}

#gridMode, #listMode{
  background-color: #acdeff;
  border: 2px solid #0a4f77;
  border-radius: 12px;
  width: 3em;
  height: 3em;
  margin:  0 1em 1em ;
  cursor: pointer;
}
.botons {
  display: flex;
  justify-content: center;
}
.grid {
  background-color: #acdeff;
}
.grid section {
  text-align: center;
  margin-bottom: 1em;
  padding: 1rem;
  background-color: #fdfeff;
}
.grid img {
  width: 50%;
  height: auto;
  margin: auto;
}


.list section {
  margin: 0;
  margin-bottom: 1em;
  text-align: center;
  padding: 1.1rem;
  
}

.list section:nth-child(even) {
  background-color: #acdeff;
}
.list h2 {
  color: #000;
  font-family: "Roboto", cursive;
  font-size: 1em;
  font-weight: 400;
  margin: 0;
}
.list img {
  display: none;
}

/*----------- CONTACT US --------------*/


main .contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-us h3 {
  font-size: 1.2rem;
  color: #0a4f77;
}

.contact-us h4 {
  margin-top: 0.5rem;
}

.contact-us h5 {
  margin-bottom: 0.1rem;
  letter-spacing: 0;
}

.address {
  margin-bottom: 1.2rem;
  text-align: center;
}

.contact-us h4:last-child {
  margin-top: 1.2rem;
  text-align: center;
}

.gmap {
  display: block;
  overflow: hidden;
  background: none !important;

}
.gmap picture img{
  display: block;
  width: 100%;
}

main section.contact-info{
  border: 0;
}

.contact-info div h5, p{
  text-align: center;
}

.contact-info div h5, .contact-info div p a, .contact-info .address a{
  margin-top: 1rem;
  color: #0a4f77;
  text-decoration: none;
}

div.contact_form{
  margin-top: 3rem;
}

div.contact_form input.submitBtn{
  margin: 0.7rem auto;
  width: 100%;
}



/*----------- FOOTER --------------*/
footer {
    background-color:#0a4f77;
    color:#ffffff;
    padding: .5rem 2%;
    text-align: center;
    margin-top: 0.5rem;
}

#lastModified {
	text-align: center;
	font-size: smaller;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

footer div a {
  color: #bddff6;
  text-decoration: none;
}
