/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color:#0a4f77;
    color:#ffffff;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 100%;
}
header img {width: 50px; float: left;}
.h-box{
  align-self: center;
  display: flex;
  flex-direction: row;
}
.headings{
  display: flex;
  flex-direction: column;
}

header h1 {margin: 0 0 0 17px; font-size: 1.3rem; }
header h2 {margin: 0 0 0 17px; font-weight: normal; font-size: 1rem;}

date {
  display: block;
  max-width: 100%;
	margin: 0.5rem;
	border: 1px solid #bbb;
  color: #000;
	padding: 0.75rem;
  padding-left: 6rem;
  padding-right: 6rem;
	background-color: #eee;
}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #1a1a1a;
    
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav button {
  margin: .2rem 2vw;
  background-color: transparent;
  border: none;
  color: #cccccc;
  font-size: 2rem;
}

nav ul li a {
    display: block;
    color: #ffffff;
    padding: .5rem 2vw;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.5);
}



nav ul li.active a {
    background-color: #000;
    color: #64a9d6;
    font-style: italic;
    
}
nav ul li a:hover {
  background-color: #64a9d6;
  color: #333;
}
nav ul{display: none;}
nav ul.open {display: block;}

#hamburguerButton span:nth-child(1){
  display: block;
}
#hamburguerButton span:nth-child(2){
  display: none;
}
#hamburguerButton.open span:nth-child(1){
  display: none;
}
#hamburguerButton.open span:nth-child(2){
  display: block;
}
/*----------- MAIN --------------*/
picture img {
  display: block;
  width: 100%;
}

div#banner {
  background-color: #49b4fb;
  color: #000000;
  border:3px solid rgb(65, 65, 65);
  text-align: center;
  padding: 1em;
  max-width: 64rem;
  margin:auto;
  font-size: large;
}
div.showme{display: block;}
div.hideme{display: none;}
main {
    padding: 0 2%;
    min-height: 10rem;
    
}
.first-header, h2{
    font-family: 'Roboto Mono', monospace;
}

.f-container div {
  background-color: #acdeff;
  border: 1px solid rgb(67, 68, 68);
  padding: 1em;
  
}
.hero {
  background-image: url('../images/rosario.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
}
.hero-content {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 1.5rem;
  text-align: center;
  width: 80%;
  margin: 2rem 10% auto 10%;
  
}
.hero-content p {
  font-size: 1.1rem;
}
.btn {
  background-color: #0a4f77da;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 4px 4px 4px 4px;
}
.discover-grid figcaption{
  text-align: center;
  margin: 0.4em 0 1em;
}
.discover-p {
  text-align: justify;
}



/*----------- FOOTER --------------*/
footer {
    background-color:#0a4f77;
    color:#ffffff;
    padding: .5rem 2%;
    text-align: center;
    margin-top: 0.5rem;
}

#lastModified {
	text-align: center;
	font-size: smaller;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

