body{
  font-family: Ubuntu, sans-serif;
}


table {
	margin: 10px auto;
	border: solid var(--border);
	box-shadow: 0 0 30px var(--shadow);
	border-collapse: collapse;
}
tr:first-child th {
	background-color: var(--back);
	color: var(--forelight);
}
th, td {
	padding: 7px 15px;
	border: 1px solid var(--borderlight);
}

caption {
  padding: 10px;
  caption-side: bottom;
	color: var(--back);
	font-size: .85rem;
  background-color: rgb(12, 151, 139);
}