/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
}

/*----------- HEADER --------------*/
header, footer {
  
  background-color:#F0EBE7 ;
}
.h-box {
  display: flex;
}
.h-box img {
  
  max-width: 50px;
  padding: 0.5rem;
  border-radius: 12px;
  
}
.h-box p {
  font-size: 1rem;
  width: 100%;
  
  
}
.h-grid {
  display: grid;
  align-items: center;
}
.h-grid picture img {
  width: 100%;
  border-radius: 8px;
}
.h-grid picture{
  grid-column: 1/1;
  grid-row: 1/1;
}
.h-grid h1{
  grid-column: 1/1;
  grid-row: 1/1;
  text-align: center;
  background-color: #f0ebe7b1;
  font-size: 3.5rem;
}

/*----------- NAVIGATION --------------*/
nav {
  background-color: #B6CBDE;
  border-radius: 8px;
  
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav button {
margin: .2rem 2vw;
background-color: #ffffff;
border: none;
color: #235271;
font-size: 2rem;
border-radius: 8px;
}

nav ul li a {
  display: block;
  color: #235271;
  padding: .5rem 2vw;
  text-decoration: none;
  font-size: .9rem;
  text-align: center;
  border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li.active a {
  background-color: rgb(255, 255, 255);
  
  font-style: italic;
  
}
nav ul li a:hover {
background-color: #64a9d6;
color: #333;
}
nav ul{display: none;}
nav ul.open {display: block;}

#hamburguerButton span:nth-child(1){
display: block;
}
#hamburguerButton span:nth-child(2){
display: none;
}
#hamburguerButton.open span:nth-child(1){
display: none;
}
#hamburguerButton.open span:nth-child(2){
display: block;
}

/*----------- MAIN --------------*/
main {
  background-color: #F0EBE7;
}
.hero-box {
  display: grid;
  align-content: center;
  align-items: center;
  margin-top: 0.5rem;
  background-color: #F0EBE7;
  margin-bottom: 0.5rem;
  
}
div.hero-box picture img{
  width: 100%;
  border-radius: 8px;
}
.hero-box picture, .hero-box .hero-call{
  
  grid-column: 1/1;
  grid-row: 1/1;
  text-align: center;
}
.hero-call{
  display: flex;
  justify-content: center;
  
}
.hero-call button {
  padding: 0.5rem;
  background-color: #f0ebe7b1;
  border-radius: 8px;
  font-size: 1.2rem;
}



form {
  background-color: #F0EBE7;
  
}
.main-grid form label.top {
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  
}
form label.top input{
  -webkit-appearance: none;
  display: block;
  border-radius: 3px;
  padding: 0.2rem;
}
.book-search {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}
.book-search button{
  padding: 1rem;
}


.event {
  display: grid;
  align-items: center;

}
.event picture, .event p{
  grid-column: 1/1;
  grid-row: 1/1;
}
.event picture img {
  width: 100%;
  border-radius: 8px;
}
.event p {
  background-color: #f0ebe7b1;
  text-align: center;
  padding: 0.3rem;
}
.temple-title{
  text-align: center;
}
.temple-info{
  background-color: #D4E5EF;
  
  border-radius: 8px;
}

.temples, .services, .missionaries, .receptions{
  display: grid;
  align-items: center;
  margin-bottom: 0.5rem;

}
.temples picture,.temples div, .services picture, .services div, .missionaries picture, .missionaries div, .receptions picture, .receptions div{
  grid-column: 1/1;
  grid-row: 1/1;
}
.temples picture img, .services picture img, .missionaries img, .receptions img, .temple-pic0 img,.temple-pic1 img, .temple-pic2 img, .temple-pic3 img{
  width: 100%;
  border-radius: 8px;
}
.temples div, .services div, .missionaries div, .receptions div{
  text-align: center;
}
.temples div button, .services div button, .missionaries div button, .receptions div button{
  padding: 1rem;
  background-color: #f0ebe7b1;
  border-radius: 8px;
  font-size: 1.2rem;
  width: 10rem;
}
/*----------- Weather --------------*/
.week-label{
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
}

.week-setup{
  display: flex;
  flex-direction: column;
  font-size: small;
}
.weather h2{
  text-align: center;
}
.current-weather{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}
.c-w-text{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  font-size: small;
}
.weather{
  background-color: #D4E5EF;
  height: 98%;
  border-radius: 8px;
}

#lastModified{
  text-align: center;
  background-color: #ffffff6b;
  margin-top: 0.2rem;
  padding: 0.5rem;
}
/*----------- Temples --------------*/

#temples {
  text-align: center;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  display: grid;
  background-color: #F0EBE7;
  gap: 0.5rem ;
}
#temples img{
  width: 100%;
  border-radius: 8px;

}

#temples section{
  border-radius: 8px;
  background-color: #D4E5EF;

}
#temples section h4{
  background-color: #B6CBDE ;
  padding: 0.2rem;
  border-radius: 8px;

}
#temples section div{
  background-color: #B6CBDE ;
  border-radius: 8px;
}
#temples section p{
  display: none;
}
#temples section div:hover p{
  display: block;
  background-color: #64a9d6;
  padding: 0.5rem;
  border-radius: 8px;

}
#temples a{
  text-decoration: none;
  display: block;
}
#temples button{
  padding: 0.2rem 1rem;
  font-size: large;
  background-color: #64a9d6;
  border-radius: 5px;
  border: 1px;
  cursor: pointer;
  outline: none;
}

/*----------- Reservation --------------*/

.reservation form label.top {
  display: block;
  padding-bottom: 0.6rem;
}
.reservation form label.top input, .reservation form label select, .reservation form label textarea{
  display: block;
  border-radius: 12px;
  border-color: #fdfcfc8a;
}

.reservation form{
  max-width: 35rem;
  text-indent: 0.3rem;
}
.reservation form fieldset{
  background-color: #D4E5EF ;
  border-radius: 12px;
  border-color: #64a9d6;
}

.reservation form label select{
  padding: 0.3rem ;
  width: 100%;
  max-width: 14rem;
  margin-bottom: 0.2rem;
}
.reservation form label.place{
  padding-top: 0.6rem ;
}
.reservation form label input, .reservation form label textarea{
  width: 100%;
  max-width: 30rem;
  
}
.reservation form label.top input:required, .reservation form label select ,.reservation form label.datte{
  border-left: red solid 4px;
}
form label.top input:required:valid, form label.top textarea:required:valid{
  border-left: green solid 8px;
}
.submitBtn {
  background-color: #193d5e;
  color: #ffffff;
}


/*----------- Thank You --------------*/

.thanks {
  display: flex;
  flex-direction: column; 
  text-align: center;
  align-items: center;
}
.thanks .thanks-item {
  text-align: center;
  font-size: 50px;

}
.thanks h1{
  font-size: xx-large;
}
.thanks p {
  font-size: larger;
}
.thanks a {
  color: rgb(0, 0, 0);
  background-color: #64a9d6;
  padding: 12px 30px;
  text-transform: uppercase;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 2rem;
}

/*----------- Services --------------*/

.services-page h2 {
  text-align: center;
  padding: 1rem;
  
}
.services-page ul li{
  list-style-type: none;
  display: block;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  text-indent: 0.5rem;
  

}
.services-page img{
  width: 100%;
  border-radius: 12px;
  margin-right: 20%;
  max-width: 32rem;
}
/*----------- Missionaries --------------*/

.missionaries-page div form .top-m{
  display: block;
  margin-top: 1rem;
}
.missionaries-page div form label input{
  display: block;
  padding: 0.75rem 25px;
  border-radius: 12px;
  
}
.missionaries-page div form label textarea {
  display: block;
  border-radius: 12px;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 25rem;

}
.missionaries-page div form {
  padding: 1rem;
  text-indent: 0.5rem;background-color: #D4E5EF;
  border-radius: 12px;

}
.missionaries-page section h3,.missionaries-page div h3 {
  text-align: center;
}
.missionaries-page img {
  border-radius: 12px;
  width: 100%;
}
.missionaries-page .submitBtn{
  width: 100%;
  max-width: 25rem;
  border-radius: 12px;
}

/*----------- Reception --------------*/
.reception-page {
  padding: 1rem;
}
.reception-page ul{
  background-color: #D4E5EF;
  border-radius: 12px;
  padding: 0.7rem;
  list-style-type: none;
  max-width: 32rem;

}




/*----------- FOOTER --------------*/

.f-grid {
  display: flex;
  
  margin-top: 1rem;
}
.f-grid img {
  width: 100%;
  margin-top: 1rem;
  max-width: 200px;
  padding-right: 1rem;
  
}
.f-grid p {
  padding: 1rem;
  align-items: center;
  width: 100%;
}
.f-social {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  justify-content: center;
  margin-top: 1rem;
}
.f-social img{
  max-width: 35px;
  border-radius: 8px;
  margin-bottom: 1rem;
}
footer a{
  text-decoration: none;
  color: #0c2a3e;
}
